# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/


# =========================
# Test / Cache
# =========================

.pytest_cache/
.coverage
htmlcov/


# =========================
# Build / Distribution
# =========================

build/
dist/
*.spec

# Executable files
*.exe


# =========================
# Release Files
# =========================

release/


# =========================
# Local Data
# =========================

data/*.json

# Memory files
memory/*.json


# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini


# =========================
# Logs
# =========================

*.log


# =========================
# Environment Variables
# =========================

.env
.env.*


# =========================
# Temporary Files
# =========================

*.tmp
*.bak
*.swp